 body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
 .span{
     color:yellow;
 }
 .flexible-container{
     display: flex;
     margin-bottom: 100px;
 }

 .half{
     width: 50%;
    margin-left: 30px;
    border-radius: 2px pink;
    padding-left: 50px;;
    padding-bottom: 20px;
  
 }
     .half img{
     width: 80%;
     padding-right: 5%;
 }
 .link-button{
        text-decoration: none;
        background-image: linear-gradient( orange, yellow); 
        padding: 10px;
        border-radius: 5px;
        color: black;
        font-weight: 800;
 }
 .banner{

    background-image: url(hello.png);
    background-repeat: no-repeat;
    background position: right;
 }
 .orange{
     color: orange;
     
     
 }
 .rowdy{
     margin-left: 100px;
     width:50%;
 }
 
 .NADIA{
     margin-right: 100px;
     width:50%
 }
 .SAMIN{
     margin-left: 50px;
     color:orange;
     font-weight: bolder;
 }
 
 
 .shaddow{
     box-shadow: 10px 10px 10px 10px pink;
 }
.BAKA{
    text-align: center;
}
.hlw{
    background-image: s
}
#veet{
    border-left: 10px solid red; 
   
}
#ki{
    text-align: center;
   padding-bottom: 40%;
}